# Lista 4 - Métodos computacionais para economistas

*NOME:*

*NUSP:*

*EMAIL:*

**Informações gerais**

**PRAZO DE ENTREGA**: ATÉ 23:59 DO DIA 13/10

A entrega deve ser esta lista, com as respostas preenchidas nos espaços disponíveis, em formato **HTML**. Para salvar o arquivo dessa forma, a partir de "File", clique em "Save and Export Notebook as ...". Selecione a opção HTML.

### Não serão aceitos arquivos que não estejam em formato HTML.

### Não serão aceitas entregas por email, apenas pelo *MOODLE*.

Prazo para enviar dúvidas/questionamentos/contestações/etc sobre enunciados ou qualquer outra coisa sobre esta lista: 23:59 DO DIA 11/10

Monitor: Nikolas Schiozer

E-mail: nikolas.s@usp.br

**Exercício 1**

Escreva uma função Python que cria e dá como resposta um print de uma lista dos valores quadrados dos números naturais entre 1 e X (ambos incluídos). O valor X deve ser um argumento da função. Como resposta, execute a função escrita considerando  X = 10.

In [10]:
def Values(x):
    
    l = list()
           
    for i in range(1,(x+1)):
        
        l.append(i**2)
        print(l)

                
Values(10)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Exercício 2**

Definindo: 

$ VF = $ valor final ,

$ VP = $valor inicial ,

$ i = $taxa de juros ,

$ m = $maturidade , 

$ IPCA = $taxa de inflação anual , 

 e utilizando as seguintes fórmulas:

$ VF_{cdb} = ( 1 + i_{cdb} )^m  VP_{cdb}  [1] $

$ VF_{ntnb} = (1 + i_{ntnb})^m * ( 1 + IPCA)^m * VP_{ntnb}  [2] $


crie uma função para descobrir o valor presente de um título de renda fixa. A função deve considerar a possibilidade do título ser pré-fixado (equação [1]) ou pós-fixado (equação [2]). Se o título é pré-fixado não é necessário considerar o argumento "taxa de inflação anual" para o cálculo do valor do valor de seu valor presente. Por isso, escreva uma função em que se a variável "taxa de inflação anual" não está presente entre os argumentos automaticamente é interpretado que o título é pré-fixado.

Depois de escrita a função, considere dois títulos:

*Título 1:*

Valor final = R$ 3.000.000,00

Maturidade = 4 anos

Taxa de juros = 10,00 \%

*Título 2:*

Valor final = R$ 4.000.000,00

Maturidade = 10 anos

Taxa de juros = 4,00 \%

Taxa de inflação anual = 3,00\%


Utilizando a função escrita, descubra qual dos dois títulos possui o menor valor presente.

In [2]:
def VPfunction(juros,VF,maturidade,infla=None):
    
    if(infla == None):
        
        VP = VF/((1+juros)**maturidade)
        
        VP = round(VP,2)
        
        return(VP)
        
    else:
        
        VP = VF/((1+juros)**maturidade * (1+infla)**maturidade)
        
        VP = round(VP,2)
        
        return(VP)
    
    
título1 = VPfunction(0.1,3000000,4)

título2 = VPfunction(0.04,4000000,10,0.03)
    
print(título1)
print(título2)   

if título1 > título2:
    
        print("O título 2 possui menor valor presente")
        
else:
    
        print("O título 1 possui menor valor presente")

2049040.37
2010732.75
O título 2 possui menor valor presente

**Exercício 3**

Vamos novamente trabalhar com o dicionário dos funcionários da última lista. Defina, novamente, o dicionário com as seguintes chaves-valor: chave[1]: nome. Valor[1]: Maria, João, Luisa, Pedro. chave[2]: sobrenome. Valor[2]:Garcia,Magalhães,da Silva,Rossi. Chave[3]: salário. Valor[3]: 2000,1600,1200,800

Além disso, vamos usar novas informações. Usando os dados do último Censo Demográfico (https://ibge.gov.br/censo2010/apps/nomes/#/ranking), de 2010, os 10 nomes masculinos mais populares entre os nascidos na década de 2000 são, em ordem decrescente, João, Gabriel, Lucas, Pedro, Mateus, Jose, Gustavo, Guilherme, Carlos e Vitor. Já os femininos são Maria, Ana, Vitoria, Julia, Leticia, Amanda, Beatriz, Larissa, Gabriela e Mariana.

Já segundo o site "maiores e melhores" (https://www.maioresemelhores.com/sobrenomes-mais-comuns-no-brasil/#:~:text=Silva%2C%20Santos%20e%20Oliveira%20s%C3%A3o%20os%20tr%C3%AAs%20sobrenomes,portuguesa%20e%20remontam%20o%20per%C3%ADodo%20colonial%20do%20pa%C3%ADs), o 10 sobrenomes mais comuns no Brasil são, em ordem decrescente, Silva, Santos, Oliveira, Souza, Rodrigues, Ferreira, Alves, Pereira, Lima e Gomes.

**Item 3.1**

Crie uma função para incorporar um novo funcionário no dicionário que guarda as informações dos colaboladores da empresa. Os argumentos do dicionário devem ser o nome, sobrenome e salário do novo funcionário. A função também deve exercutar um "print" com a seguinte mensagem "O colaborador 'Nome''Sobrenome', com salário de 'Salário', foi adicionado ao dicionário.". 

Como resposta, execute a função escrita considerando os argumentos "João","Silva" e 1000. Dê um print no dicionário para verificar se, de fato, o dicionário com os dados dos funcionários foi atualizado pela função.

In [15]:
d = {'nome' : ['Maria', 'João', 'Luisa', 'Pedro'] , 'sobrenome' : ['Garcia','Magalhães','da Silva','Rossi'], 'salário' : [5000,4000,3000,2000]}

def adcolaborador(nome,sobrenome,salario):
    
    d['nome'].append(nome)
    d['sobrenome'].append(sobrenome)
    d['salário'].append(salario)
    
    frase = "O colaborador {} {}, com salário de R${},00, foi adicionado ao dicionário.".format(nome,sobrenome,salario)
    
    print(frase)
    
adcolaborador(nome="João",sobrenome="Silva",salario=1000)
print(d)

O colaborador João Silva, com salário de R$1000,00, foi adicionado ao dicionário.
{'nome': ['Maria', 'João', 'Luisa', 'Pedro', 'João'], 'sobrenome': ['Garcia', 'Magalhães', 'da Silva', 'Rossi', 'Silva'], 'salário': [5000, 4000, 3000, 2000, 1000]}

**Item 3.2**

Vamos criar agora um "gerador de colaboradores". Importe o pacote "random". O método "choice" presente nesse pacote permite sortear elementos contidos dentro de uma lista. Crie uma função que a partir de uma lista de nomes, sobrenomes, um valor máximo e um valor mínimo para salários, faça o seguinte:

- Sorteia um nome
- Sorteia um sobrenome
- A partir de uma distribuição uniforme, considerando os valores de máximo e mínimo presentes como argumentos da função, sorteia um valor aleatório para o salário.
- Converte o tipo do salário de "np.array" para "float" utilizando a função "float()". *Não é obrigatório, é uma sugestão*
- Arredonda o valor do salário para ter 0 casas decimais.
- Usando a função criada no item anterior e com os objetos sorteados (nome, sobrenome,salário) adiciona o novo colaborador ao dicionário.

Utilizando todos os nomes, masculinos e femininos, presentes no enunciado, os sobrenomes, como valor máximo para o salário 5000 e mínimo 2000, crie um *for-loop* para adicionar no dicionário 20 funcionários.

In [23]:
import random as rd
import numpy as np

nomes = ['João',' Gabriel', 'Lucas', 'Pedro', 'Mateus', 'Jose', 'Gustavo',' Guilherme', 'Carlos','Vitor','Maria',
         'Ana', 'Vitoria', 'Julia', 'Leticia', 'Amanda',' Beatriz',' Larissa', 'Gabriela',' Mariana']

sobrenomes = ['Silva', 'Santos', 'Oliveira', 'Souza', 'Rodrigues', 'Ferreira', 'Alves', 'Pereira', 'Lima','Gomes']

d = {'nome' : ['Maria', 'João', 'Luisa', 'Pedro'] , 'sobrenome' : ['Garcia','Magalhães','da Silva','Rossi'], 'salário' : [1200,1100,1000,900]}


def criar_colaborador(nomes,sobrenomes,max,min):
    
    nome_escolhido = rd.choice(nomes)
    sobrenome_escolhido = rd.choice(sobrenomes)    
    salario_sorteado = np.random.uniform(max,min,1)    
    salario_sorteado = round(float(salario_sorteado))     
    adcolaborador(nome=nome_escolhido,sobrenome=sobrenome_escolhido,salario=salario_sorteado)
    
    
for i in range(1,21):
           
    print(i)
        
    criar_colaborador(nomes,sobrenomes,max=5000,min=2000)
    

print(d)

1
O colaborador Gustavo Ferreira, com salário de R$3360,00, foi adicionado ao dicionário.
2
O colaborador  Guilherme Souza, com salário de R$3697,00, foi adicionado ao dicionário.
3
O colaborador João Gomes, com salário de R$2109,00, foi adicionado ao dicionário.
4
O colaborador Leticia Silva, com salário de R$4940,00, foi adicionado ao dicionário.
5
O colaborador Maria Santos, com salário de R$4602,00, foi adicionado ao dicionário.
6
O colaborador Ana Lima, com salário de R$2014,00, foi adicionado ao dicionário.
7
O colaborador Carlos Silva, com salário de R$4651,00, foi adicionado ao dicionário.
8
O colaborador Julia Alves, com salário de R$4331,00, foi adicionado ao dicionário.
9
O colaborador Gustavo Silva, com salário de R$3677,00, foi adicionado ao dicionário.
10
O colaborador Mateus Gomes, com salário de R$2249,00, foi adicionado ao dicionário.
11
O colaborador Gabriela Gomes, com salário de R$4642,00, foi adicionado ao dicionário.
12
O colaborador Mateus Santos, com salário de R$3552,00, foi adicionado ao dicionário.
13
O colaborador João Rodrigues, com salário de R$4831,00, foi adicionado ao dicionário.
14
O colaborador Julia Souza, com salário de R$2961,00, foi adicionado ao dicionário.
15
O colaborador João Oliveira, com salário de R$4532,00, foi adicionado ao dicionário.
16
O colaborador Mateus Gomes, com salário de R$3035,00, foi adicionado ao dicionário.
17
O colaborador  Beatriz Gomes, com salário de R$3755,00, foi adicionado ao dicionário.
18
O colaborador Leticia Souza, com salário de R$2824,00, foi adicionado ao dicionário.
19
O colaborador Vitor Ferreira, com salário de R$3415,00, foi adicionado ao dicionário.
20
O colaborador Leticia Pereira, com salário de R$2212,00, foi adicionado ao dicionário.
{'nome': ['Maria', 'João', 'Luisa', 'Pedro', 'Gustavo', ' Guilherme', 'João', 'Leticia', 'Maria', 'Ana', 'Carlos', 'Julia', 'Gustavo', 'Mateus', 'Gabriela', 'Mateus', 'João', 'Julia', 'João', 'Mateus', ' Beatriz', 'Leticia', 'Vitor', 'Leticia'], 'sobrenome': ['Garcia', 'Magalhães', 'da Silva', 'Rossi', 'Ferreira', 'Souza', 'Gomes', 'Silva', 'Santos', 'Lima', 'Silva', 'Alves', 'Silva', 'Gomes', 'Gomes', 'Santos', 'Rodrigues', 'Souza', 'Oliveira', 'Gomes', 'Gomes', 'Souza', 'Ferreira', 'Pereira'], 'salário': [1200, 1100, 1000, 900, 3360, 3697, 2109, 4940, 4602, 2014, 4651, 4331, 3677, 2249, 4642, 3552, 4831, 2961, 4532, 3035, 3755, 2824, 3415, 2212]}

In [21]:
max=1000
min = 0

vector = np.random.uniform(max,min,1) 

print(type(vector))
print(vector)

vector = float(vector)

print(type(vector))
print(vector)

<class 'numpy.ndarray'>
[597.34259344]
<class 'float'>
597.3425934368009