# Lista 4 - Métodos computacionais para economistas

*NOME:*

*NUSP:*

*EMAIL:*

**Informações gerais**

**PRAZO DE ENTREGA**: ATÉ 23:59 DO DIA 13/10

A entrega deve ser esta lista, com as respostas preenchidas nos espaços disponíveis, em formato **HTML**. Para salvar o arquivo dessa forma, a partir de "File", clique em "Save and Export Notebook as ...". Selecione a opção HTML.

### Não serão aceitos arquivos que não estejam em formato HTML.

### Não serão aceitas entregas por email, apenas pelo *MOODLE*.

Prazo para enviar dúvidas/questionamentos/contestações/etc sobre enunciados ou qualquer outra coisa sobre esta lista: 23:59 DO DIA 11/10

Monitor: Nikolas Schiozer

E-mail: nikolas.s@usp.br

**Exercício 1**

Escreva uma função Python que cria e dá como resposta um print de uma lista dos valores quadrados dos números naturais entre 1 e X (ambos incluídos). O valor X deve ser um argumento da função. Como resposta, execute a função escrita considerando  X = 10.

**Exercício 2**

Definindo: 

$ VF = $ valor final ,

$ VP = $valor presente ,

$ i = $taxa de juros ,

$ m = $maturidade , 

$ IPCA = $taxa de inflação anual , 

 e utilizando as seguintes fórmulas:

$ VF_{cdb} = ( 1 + i_{cdb} )^m  VP_{cdb}  [1] $

$ VF_{ntnb} = (1 + i_{ntnb})^m * ( 1 + IPCA)^m * VP_{ntnb}  [2] $


crie uma função para descobrir o **valor presente** de um título de renda fixa. A função deve considerar a possibilidade do título ser pré-fixado (equação [1]) ou pós-fixado (equação [2]). Se o título é pré-fixado não é necessário considerar o argumento "taxa de inflação anual" para o cálculo do valor do valor de seu valor presente. Por isso, escreva uma função em que se a variável "taxa de inflação anual" não está presente entre os argumentos automaticamente é interpretado que o título é pré-fixado.

Depois de escrita a função, considere dois títulos:

*Título 1:*

Valor final = R$ 3.000.000,00

Maturidade = 4 anos

Taxa de juros = 10,00 \%

*Título 2:*

Valor final = R$ 4.000.000,00

Maturidade = 10 anos

Taxa de juros = 4,00 \%

Taxa de inflação anual = 3,00\%


Utilizando a função escrita, descubra qual dos dois títulos possui o menor valor presente.

**Exercício 3**

Vamos novamente trabalhar com o dicionário dos funcionários da última lista. Defina, novamente, o dicionário com as seguintes chaves-valor: chave[1]: nome. Valor[1]: Maria, João, Luisa, Pedro. chave[2]: sobrenome. Valor[2]:Garcia,Magalhães,da Silva,Rossi. Chave[3]: salário. Valor[3]: 5000,4000,3000,2000

Além disso, vamos usar novas informações. Usando os dados do último Censo Demográfico (https://ibge.gov.br/censo2010/apps/nomes/#/ranking), de 2010, os 10 nomes masculinos mais populares entre os nascidos na década de 2000 são, em ordem decrescente, João, Gabriel, Lucas, Pedro, Mateus, Jose, Gustavo, Guilherme, Carlos e Vitor. Já os femininos são Maria, Ana, Vitoria, Julia, Leticia, Amanda, Beatriz, Larissa, Gabriela e Mariana.

Já segundo o site "maiores e melhores" (https://www.maioresemelhores.com/sobrenomes-mais-comuns-no-brasil/#:~:text=Silva%2C%20Santos%20e%20Oliveira%20s%C3%A3o%20os%20tr%C3%AAs%20sobrenomes,portuguesa%20e%20remontam%20o%20per%C3%ADodo%20colonial%20do%20pa%C3%ADs), o 10 sobrenomes mais comuns no Brasil são, em ordem decrescente, Silva, Santos, Oliveira, Souza, Rodrigues, Ferreira, Alves, Pereira, Lima e Gomes.

**Item 3.1**

Crie uma função para incorporar um novo funcionário no dicionário que guarda as informações dos colaboradores  da empresa. Os argumentos da função devem ser o nome, sobrenome e salário do novo funcionário. A função também deve executar um "print" com a seguinte mensagem "O colaborador 'Nome''Sobrenome', com salário de 'Salário', foi adicionado ao dicionário.". 

Como resposta, execute a função escrita considerando os argumentos "João","Silva" e 1000. Dê um print no dicionário para verificar se, de fato, o dicionário foi atualizado pela nova função e contêm as novas informações.

In [3]:
d = {'nome' : ['Maria', 'João', 'Luisa', 'Pedro'] , 'sobrenome' : ['Garcia','Magalhães','da Silva','Rossi'], 'salário' : [5000,4000,3000,2000]}

**Item 3.2**

Vamos criar agora um gerador de colaboladores. Importe o pacote "random". O método "choice" presente nesse pacote permite sortear elementos contidos dentro de uma lista. Crie uma função que a partir de uma lista de nomes, sobrenomes, um valor máximo e um valor mínimo para salários, faça o seguinte:

- Sorteia um nome
- Sorteia um sobrenome
- A partir de uma distribuição uniforme, considerando os valores de máximo e mínimo presentes como argumentos da função, sorteia um valor aleatório para o salário.
- Converte o tipo do salário de "np.array" para "float" utilizando a função "float()". *Não é obrigatório, é uma sugestão*
- Arredonda o valor do salário para ter 0 casas decimais.
- Usando a função criada no item anterior e com os objetos sorteados (nome, sobrenome,salário) adiciona o novo colaborador ao dicinário.

Utilizando todos os nomes, masculinos e femininos, presentes no enunciado, os sobrenomes, como valor máximo para o salário 5000 e mínimo 2000, crie um *for-loop* para adicionar no dicionário 20 funcionários.

In [4]:
import random as rd
import numpy as np

nomes = ['João',' Gabriel', 'Lucas', 'Pedro', 'Mateus', 'Jose', 'Gustavo',' Guilherme', 'Carlos','Vitor','Maria',
         'Ana', 'Vitoria', 'Julia', 'Leticia', 'Amanda',' Beatriz',' Larissa', 'Gabriela',' Mariana']

sobrenomes = ['Silva', 'Santos', 'Oliveira', 'Souza', 'Rodrigues', 'Ferreira', 'Alves', 'Pereira', 'Lima','Gomes']

d = {'nome' : ['Maria', 'João', 'Luisa', 'Pedro'] , 'sobrenome' : ['Garcia','Magalhães','da Silva','Rossi'], 'salário' : [5000,4000,3000,2000]}